#!/bin/bash
# helix/config.toml hash: {{ include "private_dot_config/helix/config.toml" | sha256sum }}
# helix/languages.toml hash: {{ include "private_dot_config/helix/languages.toml" | sha256sum }}
pkill -USR1 hx
