/* disable mute button on tab bar because when it's shrunk it's too easy to hit */
#browser:not(.alt-tabs) #tabs-container .tab-audio {
  pointer-events: none;
}

/* hide text on update status toolbar button since the tab bar is small */
/* div.toolbar button[data-name="UpdateButton"] .button-title { */
/*   display: none; */
/* } */

#browser.auto-hide.unified-ui {
  /* Remove padding from window */
  padding: 0;

  &.mac {
    /* Disable border rounding */
    #webpage-stack:after {
      --mask-box-radius: 0px !important;
    }
  }
}

/* Hide link tooltip */
#webview-container ~ .StatusInfo {
  display: none;
}

/* Center extensions popup */
.extension-popup.top {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  /* Arrow pointing to address bar */
  &::before,
  &::after {
    display: none !important;
  }
}
