/* disable mute button on tab bar because when it's shrunk it's too easy to hit */
#browser:not(.alt-tabs) #tabs-container .tab-audio {
  pointer-events: none;
}

/* hide text on update status toolbar button since the tab bar is small */
/* div.toolbar button[data-name="UpdateButton"] .button-title { */
/*   display: none; */
/* } */

/* Remove padding from window */
#browser.auto-hide.unified-ui.mac {
  padding: 0;

  #webpage-stack:after {
    --mask-box-radius: var(--radius) !important; /* Originally var(--radiusWindow)
                                                  which causes white corners on the
                                                  window on dark backgrounds */
  }

  #titlebar #pagetitle {
    scale: 1; /* Undo the 125% UI zoom */
  }
}
